[Unit]
Description=Tmux server

[Service]
Type=forking
User=pi
ExecStart=/usr/bin/tmux new -s 0 -d 
ExecStop=/usr/bin/tmux kill-server

[Install]
WantedBy=multi-user.target
